* { box-sizing: border-box; }
html { font-size: 16px; } // 16px = 1rem

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// global line-height
	line-height: 1.3;
	overflow-x: hidden;
}

// base image setup
img {
	display: block; // removes white space below image
	max-width: 100%;
	height: auto;
}

button {
	background: unset;
	border: unset;
}