.header {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: $midnight;
	padding: 4rem 2.25rem;

	img {
		max-width: 25rem;
		margin: 0 auto;
	}
}

.top-ring {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	max-width: 45rem;
	height: calc(90vh - 245px);
	margin: 0;
	transform: rotate(90deg);
}

.play-button {
	position: relative;
	z-index: 20;

	.play-text {
		margin-top: -1rem;
		margin-bottom: 0;
		font-size: 1rem;
	}
}

.video-modal {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: rgba($black, 0.85);
	transition: 0.5s ease-in;

	&.vm-open {
		transition: 0.5s ease-out;
		opacity: 1;
		z-index: 25;
	}

	#video-player {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 70rem;
		width: 100%;
		margin: 0 auto;
	}

	.close-modal {
		position: absolute;
		color: $white;
		font-size: 2rem;
		top: 0.5rem;
		right: 2rem;
		&:hover { cursor: pointer; }
	}
}

.main-post-wrapper {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	background-color: $midnight;

	.text-block {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		padding: 2.5rem 1.5rem;
		background-color: $white;
		text-align: center;

		@include bp(sm) {
			padding: 5rem 3rem;
		}

		img {
			max-width: 10rem;
			margin: 0 auto;
			&:hover { cursor: pointer; }
		}
	}

	.highlight-bar {
		max-width: 62.5rem;
		margin: 0 auto 2rem;
		text-shadow: 3px 3px;
	}

	strong { color: #8888E5; }

	p, h1 {
		position: relative;
		z-index: 10;
		max-width: 62.5rem;
		margin: 0 auto 2.5rem;
		font-family: $body-font;
		font-size: 1.5rem;
		letter-spacing: 1px;
		text-align: center;
		line-height: 1.5;
	}

	h1 {
		font-family: $head-font;
		font-size: 1.75rem;
		font-weight: bold;
		@include bp(sm) { font-size: 2.5rem; }
	}

	.ghost-button {
		display: block;
		margin: 0 auto;
		text-align: center;
		max-width: 23rem;
		background-color: $seafoam;
		padding: 0.75rem 1rem;
		font-family: $body-font;
		font-size: 1rem;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		transition: 0.2s ease-out;
		letter-spacing: 1px;
		border-radius: 6px;
		color: $white;

		&:hover {
			transition: 0.2s ease-out;
			background-color: $midnight;
		}
	}
}

// faq section
.faqs {
	max-width: 100%;
	margin: 0 auto;
	padding: 3rem 1.5rem;
	position: relative;
	z-index: 10;
}

// faq accordions
.accordion-container {
	max-width: 62.5rem;
	margin: 0 auto;

	.accordion-block-title {
		display: block;
		position: relative;
		padding-top: 1.5rem;
		padding-right: 2rem;
		padding-bottom: 1.5rem;
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 1px solid $midnight;
		color: $midnight;
		font-weight: bold;
		font-family: $head-font;
		font-size: 1.15rem;
		@include bp(sm) { font-size: 1.5rem }

		&:hover { cursor: pointer; }

		// add chevron-down after heading
		&:after {
			content: '';
			position: absolute;
			background: url('images/chevron-down.svg') no-repeat;
			top: 1.9rem;
			right: 0;
			height: 1rem;
			width: 1rem;
			font-size: 0.9375rem;
			font-weight: bold;
			transition: 0.3s ease-in;

			@include bp(sm) {
				top: 2.1rem;
				font-size: 1.2rem;
			}
		}
	}

	.accordion-content {
		position: relative;
		overflow: hidden;

		p {
			text-align: left;
			font-size: 1.5rem;
			margin-bottom: 1rem;
			letter-spacing: unset;

			@include bp(sm) {
				letter-spacing: 1px;
			}
		}
	}

	// remove border when expanded
	.remove-border {
		transition: 0.1s ease-in;
		border-bottom: 1px solid transparent;
	}

	// rotate the chevron (class applied via js)
	.chevron-rotate:after {
		transform: rotate(180deg);
		transition: 0.3s ease-in;
	}
}

.footer {
	position: relative;
	z-index: 10;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: $steel;
	padding: 1.5rem 2.25rem;

	p {
		position: relative;
		z-index: 10;
		max-width: 62.5rem;
		margin: 0 auto;
		font-family: $body-font;
		font-size: 1.25rem;
		letter-spacing: 1px;
		text-align: center;
		line-height: 1.5;
		font-weight: 600;
	}

	.logo-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 15rem;
		margin: 2rem auto 0;

		img {
			width: 100%;

			&:first-of-type { max-width: 4rem; }
			&:last-of-type { max-width: 3rem; }
		}
	}
}