// colors
$white: #fff;
$black: #000;
$light-black: #3e3e3e;
$midnight: #0D2132;
$lime: #5EEA72;
$seafoam: #00B7A1;
$steel: #EAEDEE;

// fonts
$head-font: 'termina', sans-serif;
$body-font: 'proxima-nova', sans-serif;

// quick adjust classes
.semibold { font-weight: 500; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.center { text-align: center; }
.white { color: $white; }
.midnight { color: $midnight; }
.lime { color: $lime; }
.seafoam { color: $seafoam; }
.light-black { color: $light-black; }
.bg-midnight { background-color: $midnight !important; }
.bg-white { background-color: $white !important; z-index: 10; }
.mb0 { margin-bottom: 0 !important; }
.header-text { font-family: $head-font !important; }
.smaller { font-size: 1.5rem !important; }

// Mixins
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}